<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>PostNotification</key>
			<string>com.gviridis.fakepasscode/UpdatePreferences</string>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.gviridis.fakepasscode</string>
			<key>key</key>
			<string>fakePasscode</string>
			<key>label</key>
			<string>Fake Passcode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>FakePasscode</string>
</dict>
</plist>
